@import "../componentes/mixins";
@import "../componentes/variables";

.pricing-table {
  padding: 70px 0;
  background: url('../img/pricing/Vgq8CU4.png') no-repeat center/cover;

}

.container {
  @include container;
}

.pricing-table-row {
  margin-top: 71px;
  @include d-flex-row;
  justify-content: center;
  color: white;
}

.row-cards-column {
  margin-right: 13px;
  flex: 0 0 250px;
  max-width: 250px;
  text-align: center;
  box-sizing: border-box;
  align-self: center;


  &:last-child {
    margin-right: 0;
  }
}

.row-cards-column-selected {
  flex: 0 0 299px;
  max-width: 299px;


  .cards-column-header {
    background: #392d3c;
    padding-bottom: 15px;
    padding-top: 5px;

  }
  .body-cards-price{
    font-size: 80px;
    font-weight: 600;

  }
  .cards-column-body {
    padding-bottom: 70px;
    background: #45384b;
  }

  .btn-purchase {
    margin-top: 110px;
  }
}

.cards-column-body {
  padding-top: 8px;
  padding-bottom: 38px;
  background: #6c596d;
  //opacity: .7;
}

.cards-column-header {
  background: #715f6b;
}

.header-cards-title {
  padding-top: 46px;
  padding-bottom: 34px;
  font-size: 24px;
  font-weight: 400;
  color: $text_white;
  text-transform: uppercase;
}

.body-cards-price {
  padding-top: 24px;
  font-size: 60px;
  color: $text_white;
  font-weight: 900;
}

.cards-price-dolor {
  font-weight: 400;
}

.cards-per-month {
  position: relative;
  margin-top: 24px;
  font-size: 14px;
  color: $text_white;
  font-weight: 400;
  text-transform: uppercase;

  &:after {
    content: '';
    position: absolute;
    top: 34px;
    left: 50%;
    width: 60px;
    height: 5px;
    background: #8d81ac;
    transform: translate(-50%);

  }
}

.container-cool {
  margin-top: 69px;
  line-height: 28px;
}

.cards-cool {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
}

.btn-purchase {
  display: inline-block;
  margin-top: 68px;
  padding: 16px 35px;
  background: #786b79;
  border-radius: 44px;
  font-size: 15px;
  font-weight: 400;
  color: $text_white;
  text-transform: uppercase;
  text-decoration: none;

  &_big--content {
    margin-top: 40px;
  }
}
.btn-purchase:hover{
  background-color: #c9c3c8;
  color: #7f6d78;
}
.btn-mar-top{
  margin-top: 96px;
}
.btn-bigger{
  padding: 19px 54px;
  margin-top: 115px;
}
